.answerToggle{
  display: none;
}

.answerToggleOn{
  display: block;
  background-color: red;
}

.nameToggle{
  display: block;
}

.nameToggleOn{
  display: none;
}

.player-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.player-container li{
  width: auto;
  display: inline-block;
}

.buttonToggle{
  display: block;
}

.buttonToggleOn{
  display: none;
}

.gameOverToggler{
  display: none;
}
.gameOverTogglerOn{
  display: block;
}

.hideGameOn{
  display: block;
}

.hideGameOn{
  display: none
}
