.answerToggle{
  display: none;
}

.answerToggleOn{
  display: block;
  background-color: red;
}

.nameToggle{
  display: block;
}

.nameToggleOn{
  display: none;
}

.player-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.player-container li{
  width: 25%;
  display: inline-block;
}
