body{
  background-image:
    linear-gradient(
    to left,
    #00FFEF,
    #00E5EE);
}

#answerToggle{
  display: none;
}

#answerToggleOn{
  display: block;
  background-color: red;
}

#nameToggle{
  display: block;
}

#nameToggleOn{
  display: none;
}

.player-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.player-container li{
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  width: auto;
  border: 1px solid white;
  padding: 1em;
  display: inline-block;
}

#buttonToggle{
  display: block;
  margin: 0 auto;
}

#buttonToggleOn{
  display: none;
}

#gameOverToggler{
  display: none;
}
#gameOverTogglerOn{
  display: block;
}

#hideGameOn{
  display: block;
}

#hideGameOn{
  display: none
}

#score-counter{
  display: inline;
}

*{
  margin: 0 auto;
  text-align: center;
}

#num-score td h2{
  padding-top: 0;
  margin-top: 0;
}

select{
  font-size: 1.5em;
  text-align: center;
  text-align-last: center;
}

option{
  text-align: left;
}

h1 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-decoration: underline;
  text-decoration-color: red;
  text-align: center;
  text-transform: uppercase;
}

#question-tag{
  color: #ffffff;

}

#answer-list{
  margin-top: 1em;
  font-size: 1.75em;
  color: #ffffff;
}

#q-info{
  color: #ffffff;

}

.correct-container{
  width: 20%;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 2em;
  color: #ffffff;
}
